body {font-family: sans-serif; font-size: 12px; 
	background-color: #F5F5F5; color: #444; min-width: 300px;}
a {text-decoration: none; color: #222; padding: 3px; border: 1px solid #ccc; 
	background-color: #c4c4c4; border-radius: 3px;}
a:hover {background-color: #B7FF80;}
textarea {resize: none;}
.clear {clear: both;}
.accordionanchor {display: block; padding: 3px; border: 1px solid #ccc; text-align: center;}
#accordion h3.ui-state-active .accordionanchor {background-color: #B7FF80;}


.timeinactive {color: #a1a1a1; font-style: italic;}
#notesright {float: right;}
#removereset {float:right;}
#currenttabarea {padding-bottom: 10px; /*margin-bottom: 80px;*/}
#fornoteslabel, #forremidnerlabel {display: block; float: left; 
	padding-right: 8px; font-size: 18px;}
#timein {width: 70px;}
#save {padding: 3px; border: 1px solid #ccc; text-align: center;}

.reminderlistelement {list-style-type: none;  margin-left: -40px; font-size: 13px;}
.reminderlistelement.highlightbg {background-color: #DBDBDB;}
#massmanipulate {float:right;}
.reminderlistelement .noteslist {padding: 0 0 0 23px; margin: 0; 
	font-size: 12px; font-style: italic;}
.reminderlistelement .remindercheckbox {margin-right: 5px;}